{
  "plugins": [
    "react",
  ],
  "extends": ["eslint:recommended", "plugin:react/all"],
  "globals": {
    "chrome": "readonly",
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect",
    }
  },
  "env": {
    browser: true,
    es6: true,
    node: true,
  },
}
