.hidden-sidebar .Sidebar__TodoListContainer {
  display: none;
}

.hidden-sidebar .todo-list-header {
  display: none;
}

.hidden-sidebar .to-do-list {
  display: none;
}

#tfc-wall-rose {
  position: relative;
}

@media only screen and (min-width: 992px) {
  .tfc-list-view-wrapper #tfc-wall-rose {
    width: 240px;
  }
}

.tfc-gradescope-sidebar {
  width: var(--tfc-sidebar-width) !important;
}

.tfc-gradescope-scroll {
  overflow-x: hidden !important;
}

.tfc-gradescope-border {
  left: 287px !important;
}

.tfc-gradescope-main {
  padding-left: var(--tfc-sidebar-width) !important;
}

.tfc-gradescope-toggle {
  left: 214px !important;
}

.tfc-gradescope-text {
  width: 240px !important;
}

body {
  --tfc-dark-mode-text-primary: #e4e4e7;
  --tfc-dark-mode-text-secondary: #71717a;
  --tfc-dark-mode-bg-primary: #27272a;
  --tfc-dark-mode-bg-primary-2: #3f3f46;
  --tfc-dark-mode-bg-secondary: #52525b;
  --tfc-sidebar-width: 288px;
}
